$yellow: rgba(255, 241, 112, 1);
$blue: rgba(32, 129, 226, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(16, 21, 32, 1);
$dark_blue: rgba(42, 46, 75, 1);
$dark_blue_bg: rgba(33, 34, 65, 1);
$purple: rgba(176, 164, 255, 1);
$white_01: rgba(255, 255, 255, .1);
$gray_light: rgb(155, 155, 155);
$gray: rgb(98, 98, 98);
