@font-face {
  font-family: 'Integral CF';
  src: local('Integral CF'), local('IntegralCF-Regular'),
  url('@/assets/fonts/IntegralCF/IntegralCF-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


